body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.weatherwrapper {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.weatherwrap {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  border: 1px solid red;
  border-radius: 10px;
  background: linear-gradient(to top, #fae6af 20%, #ace0f9 85%);
  /* Margin: center text in page, Text align: to center text only */
}

.title {
  color: rosybrown;
  font-size: small;
}

#form-control {
  border: 2px solid rosybrown;
}
#search-button {
  color: rosybrown;
  cursor: pointer;
  border-style: none;
  border: 1px;
  border-radius: 1px;
  box-shadow: 1px 1px 10px;
  margin-left: 20px;
}

#city {
  color: rosybrown;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 0;
  padding-top: 100px;
}

#city:first-letter {
  text-transform: capitalize;
}

#time-date {
  color: rosybrown;
  padding-top: 0;
  padding-bottom: 20px;
}

#degree-number {
  color: rosybrown;
  font-size: 70px;
  font-weight: bolder;
  margin-right: 30px;
}

.all-degrees {
  color: rosybrown;
  font-size: 30px;
  position: absolute;
  left: 52%;
  margin-top: 12px;
}

#emoji {
  font-size: 110px;
  position: absolute;
  top: 47%;
  left: 47%;
}

.line {
  margin-top: 160px;
  margin-left: 70px;
  margin-right: 70px;
}

#cloudy {
  color: rosybrown;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 25px;

  border: 1px opacity rosybrown;
  border-radius: 15px;
  box-shadow: 1px 1px 15px;
  margin-left: 190px;
  margin-right: 190px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#cloudy:first-letter {
  text-transform: capitalize;
}

.row {
  color: rosybrown;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.humidity-emoji {
  font-size: 40px;
}

.feelslike-emoji {
  font-size: 40px;
}

.wind-emoji {
  font-size: 40px;
}
