body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/021/880/original/cloud.jpeg?1638203116);
  background-repeat: no-repeat;
  background-size: cover;
}

.weatherwrapper {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.weatherwrap {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  border: 3px solid #98b9c5;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(90, 132, 150) 0%,
    rgb(57, 100, 160) 42%,
    rgb(26, 59, 107) 68%,
    rgb(24, 56, 110) 100%
  );
  /* Margin: center text in page, Text align: to center text only */
}

.title {
  color: #98b9c5;
  font-size: small;
  margin: 20px;
}

#form-control {
  border: 3px solid #98b9c5;
}
#search-button {
  color: #98b9c5;
  background-color: rgb(15, 33, 65);
  cursor: pointer;
  border: 2px solid #98b9c5;
  font-weight: bolder;
  margin-left: 20px;
}

#city {
  color: #98b9c5;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 0;
  padding-top: 100px;
}

#city:first-letter {
  text-transform: capitalize;
}

#time-date {
  color: #98b9c5;
  padding-top: 0;
  padding-bottom: 20px;
}

.celcius .active {
  color: #98b9c5;
  cursor: default;
}

#degree-number {
  color: #98b9c5;
  font-size: 90px;
  font-weight: bolder;
  margin-right: 30px;
}

#celci-link {
  text-decoration: none;
}

#faren-link {
  text-decoration: none;
}

.celcius {
  color: #98b9c5;
  font-size: 30px;
  position: absolute;
  left: 52%;
  margin-top: 12px;
}

#emoji {
  position: absolute;
  top: 59%;
  left: 47%;
}

.line {
  margin-top: 160px;
  margin-left: 70px;
  margin-right: 70px;
  color: aliceblue;
  font-weight: 50px;
}

#cloudy {
  color: #98b9c5;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 25px;

  border: 1px opacity #98b9c5;
  border-radius: 15px;
  box-shadow: 1px 1px 15px;
  margin-left: 190px;
  margin-right: 190px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#cloudy:first-letter {
  text-transform: capitalize;
}

.row {
  color: #98b9c5;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.humidity-emoji {
  font-size: 40px;
}

.feelslike-emoji {
  font-size: 40px;
}

.wind-emoji {
  font-size: 40px;
}

.weather-forecast {
  margin-top: 60px;
  text-align: center;
  color: #98b9c5;
}
.forecast-weekday {
  font-size: 20px;
  text-align: center;
}
.forecast-temp {
  font-size: 14px;
  text-align: center;
}

.forecast-temp-max {
  color: #1e3e49;
}
